.barStyle{
    border: 1px solid var(--main-color) !important;
}
.linkStyle{
    transition: all 0.5s;
}

.linkStyle:hover , .linkStyle:focus {

    color: #0d6efd !important;
    border-bottom: 1px solid #0d6efd;
    text-align: center !important;

}

@media screen and (max-width: 900px) {
    .barStyle{
        display: block !important;
    }
    
  }

  @media screen and (min-width: 901px) {
    .barStyle{
        display: none !important;
    }
    
  }